<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>


<mat-divider></mat-divider>

<button mat-button [matMenuTriggerFor]="aboveMenu">Cadastros</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item>Clientes</button>
  <button mat-menu-item>Tecnicos</button>
  <button mat-menu-item>Ordem de Serviço</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu">Relatórios</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item>Clientes</button>
  <button mat-menu-item>Tecnicos</button>
  <button mat-menu-item>Ordem de Serviço</button>
</mat-menu>

<mat-divider></mat-divider>
